// call back form

.callback {
	width: 269px;
	height: 429px;
	box-sizing: border-box;
	border: 1px solid #bd9c69;
	background-color: #fafafa;	
	display: flex;
	flex-direction: column;
	padding: 32px 22px;
	will-change: transform;
	// box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.28);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

	&--index {
		transform: translateX(300px);	
	    position: fixed;
		top: 73px;
		right: 0;
	    z-index: 10000;
	    transition: 0.3s all;
	    &.open {
	    	transform: translateX(-232px);
	    }

	}
	form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
	.close {
		cursor: pointer;
		&:hover {
			opacity: 0.7;
		}		
	}
	.agree {
		display: flex;
		justify-content: flex-start;
		text-align: left; 
		margin-bottom: 35px;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	.title {
		font-size: 32px;
		line-height: 40px;
		font-weight: bold;
		font-family: $accentFont;
	    margin-top: -15px;	
	    margin-bottom: 22px;
	}
	label {
		font-size: 12px;
		font-weight: bold;
		margin-bottom: 7px;
	}
	input {
		width: 100%;
		min-height: 40px;
		font-size: 14px;
		border: 1px solid #bd9c69;		
		margin-bottom: 24px;
		padding: 0 11px;
		box-sizing: border-box;
		background-color: #fff;
	}

	span {
		font-size: 12px;
	}
	button {
		width: 227px;
		height: 40px;		
		font-family: $accentFont;
		background-color: $blueColor;
		font-size: 13px;
		letter-spacing: 1.63px;
		text-transform: uppercase;
		font-weight: bold;
		color: #fff;
		cursor: not-allowed;
		&.access_submit {
			cursor: pointer;
			&:hover {
				background-color: $blueColorHover;
			}			
		}		
	}
	// for single page home
	&--home {
		position: absolute;
		right: 0;
		padding-top: 13px;
		padding-bottom: 13px;
		height: 470px;
		input {
			min-height: 32px;
			margin-bottom: 20px;
		}
		#phone {
			margin-bottom: 23px;
		}
		.agree {
		    margin-bottom: 14px;			
		}		
		&__top {
			flex-direction: column;
			align-items: center;
			line-height: 1.4375rem;
			margin-bottom: 24px;
			}
			&__title {
				font-size: 1.125rem;
				font-weight: bold;
				font-family: $accentFont;
				text-transform: uppercase;
			}
			&__desc {
				font-size: 14px;
			}

			&__comment-input {
				margin-bottom: 17px;
				width: 100%;
				label {
					display: block;
				}
				textarea {
					resize: none;
					width: 98%;
					height: 101px;
					border: 1px solid $brownColor;
					background-color: #ffffff;					
				}
			}
	}	
	&--contact {
		height: 100%;
		width: 70%;
		flex-direction: column;
		box-sizing: border-box;
		padding: 68px 90px 90px 0;
		margin-top: -124px;
		border: none;
		position: relative;
		background-color: #fff;
		z-index: 1;
		&:after {
			content: '';
			position: absolute;
			right: 0;
			z-index: -1;
			left: -40vw;
			top: 0;
			bottom: 0;
			background-color: #fff;
			box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.28);
		}
		input {
			width: 100%;
			font-size: 13px;
		}
		form {
			flex-direction: row;
		}
		.big-title {
			margin-bottom: 28px;
			&:before {
				left: -40vw;
				width: 37vw;
			}
		}
		textarea {
			height: 117px;
		}
		button {
			height: 50px;
		}

		&__form-wrap-input {
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;
			div {
				display: flex;
				flex-basis: 48%;
				flex-direction: column;
			}
		}
		&__form-left-col {
			flex: 1;
		    display: flex;
		    flex-direction: column;			
		    margin-right: 15px;
		}
		&__form-right-col {
			margin-left: 15px;
			flex: 1;
		}
		&__desc {
			font-family: $accentFont;
			font-style: italic;
			font-size: 16px;
			margin-bottom: 63px;
		}	
	}
	&--reserve {
		width: 295px;
		height: 414px;
		padding-bottom: 0;
		position: fixed;
		right: 0;
		top: calc(50% - 207px);
		z-index: 10000;
		transform: translateX(100%);
		transition: 0.4s;
		&--open {
			transform: translateX(0);
		}
		button {
			width: 100%;
		}
		.callback__top {
			flex-direction: column;
			margin-bottom: 37px;
		    align-items: center;
		}
		.title {
			font-size: 20px;
			line-height: 18px;
			margin-bottom: 7px;
		}
		#callback-cancel {
			color: $blueColor;
		    width: 100%;
		    text-align: center;
		    padding-top: 18px;
		    cursor: pointer;
		    &:hover {
		    	color: $blueColorHover;
		    }
		}
	}	

}




// html

// <div class="callback">
// 	<div class="callback__top">
// 		<div class="title">Обратный звонок</div>
		
// 			<div class="close">
// 				<svg class="icon icon-close">
// 					<use xlink:href="img/symbol/sprite.svg#close"><use/>	
// 				</svg>
// 			</div>
// 	</div>
// 	<form action="">
// 		<label>Ваше имя</label>
// 			<input type="text" name="name">
// 		<label>Телефон</label>
// 			<input id="phone" type="text" name="phone">
// 		<div class="agree">
// 		    <label class="control control-checkbox">
// 		            <input type="checkbox"/>
// 		        <div class="control_indicator"></div>
// 		    </label>		
// 			<span>
// 				Даю согласие на обработку, хранение и распространение
// 				персональных данных				
// 			</span>
// 		</div>
// 		<button disabled="disabled" type="submit">Отправить</button>
// 	</form>
// </div>