.gallery {
	&__wrapper {
		box-sizing: border-box;
		padding: 37px 0 0;
	}
	&-block {
		display: flex;
		flex-direction: column;
		&__top {
			border-bottom: 1px solid $brownColor;
			display: flex;
			justify-content: space-between;
			align-items: center;
			box-sizing: border-box;
			padding-bottom: 17px;
			margin-bottom: 30px;
		}
		&__name {
			font-family: $accentFont;
			font-weight: bold;
			font-size: 2rem;
			line-height: 3.125rem;
		}
		&__link {
			font-size: 13px;
			display: flex;
			align-items: center;			
			span {
				transform: scale(.4);
			}
		}
		&__images {
			height: 502px;
			display: flex;
			margin: 0 -26px;
			margin-bottom: 60px;

			img {
				@extend %img;
			}

		}
		&__big-image {
			flex: 1;
			margin: 0 26px;
		    flex-basis: 29%;
		}
		&__little-images-wrap {
			flex: 1;
			display: flex;
			flex-direction: column;
			.single-img {
				flex: 1;
				display: flex;
				margin-right: 26px;
				margin-bottom: 26px;
				&:last-of-type {
					margin-bottom: 0;
				}
			}			
		}
	&--four {
			.gallery-block__little-images-wrap {
				flex-direction: row;
				flex-wrap: wrap;
				flex: 1;
				flex-basis: 50%;
			    margin-bottom: -26px;
				.single-img {
					flex-basis: calc(50% - 26px);
					&:last-of-type {
						margin-bottom: 26px;
					}						
				}
			
			}
			.gallery-block__images {
				margin-left: 0;
			}
			.gallery-block__big-image {
				order: 2;
				flex-basis: 50%;
			}		
		}
		&--reverse {
			.gallery-block__big-image {
				order: 2;
			}
			.gallery-block__images {
				margin-left: 0;
			}
		}

	}
}

.gallery-inner {
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
	    margin: -30px -15px;
	    padding: 94px 0;
	}
	&__image {
		display: flex;
		flex-basis: calc(25% - 30px);
		margin: 15px;
		height: 177px;
		img {
			@extend %img;
		}
	}
}