.png-sprite__67, .png-sprite__4, .png-sprite__258, .png-sprite__11, .png-sprite__olen,
.png-sprite__shihka-big, .png-sprite__bitmap, .png-sprite__shishka {
  display: inline-block;
  background: url("http://hivr.ru/terrace/img/png_sprite/png_sprite.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left; }

.png-sprite__67 {
  background-position: -0px -0px;
  width: 236px;
  height: 149px; }

.png-sprite__4 {
  background-position: -0px -149px;
  width: 234px;
  height: 152px; }

.png-sprite__258 {
  background-position: -0px -301px;
  width: 229px;
  height: 165px; }

.png-sprite__11 {
  background-position: -0px -466px;
  width: 228px;
  height: 151px; }

.png-sprite__olen {
  background-position: -0px -617px;
  width: 200px;
  height: 200px; }

.png-sprite__shihka-big {
  background-position: -0px -817px;
  width: 123px;
  height: 116px; }

.png-sprite__bitmap {
  background-position: -123px -817px;
  width: 96px;
  height: 23px; }

.png-sprite__shishka {
  background-position: -200px -617px;
  width: 28px;
  height: 28px; }



.png-sprite-about {

    &-light, &-mayak, &-road, &-socialinfrastucture {
    background-image: url('http://hivr.ru/terrace/img/png_sprite/png_sprite_about.png');
    background-repeat: no-repeat;
    display: block;
    }
}

.png-sprite-about-light {
    width: 34px;
    height: 56px;
    background-position: 0 13px;
    background-size: 667px;
    width: 22px;
    height: 64px;
}

.png-sprite-about-mayak {
    width: 454px;
    height: 685px;
    background-position: -34px 0;
}

.png-sprite-about-road {
    width: 34px;
    height: 56px;
    background-position: -333px 13px;
    background-size: 667px;
    width: 22px;
    height: 64px;

}

.png-sprite-about-socialinfrastucture {
    width: 458px;
    height: 585px;
    background-position: -522px 0;
}