
@media (max-width: 1440px) {
	.main-wrapper {
		width: 1440px;
		overflow-x: hidden; 
		position: relative;
	}
}
@media (max-width: 1024px) {

	.main-wrapper {
		width: 1024px;
	}	
	.container {
		width: 940px;
	}
	.header {
		&__call-block {
			position: absolute;
			display: flex;
			top: 31px;
	        right: 200px;		
		}
		&__user-cabinet {
			top: -11px;
		}
		&__logo {
		    padding-bottom: 6px;
		    height: auto;
		}
		&__content {
			justify-content: flex-end;
		    padding: 47px 0 26px 39px;
		}
		&__desc {
		    margin-top: 16px;	
		    margin-right: 0;		
		}
		&__phone-number {
			margin-right: 21px;
		}
		&__desc__title {
		    font-size: 23px;
		    letter-spacing: 1.81px;			
		}
	}
	.news-section__background-text {
	    letter-spacing: 18px;
	    font-size: 169.7px;
	}	
	.italic-text {
		font-size: 28px;
	}
	.footer__center-column {
		width: 327px;
		text-align: center;
		line-height: 18px;
	}
	.top-image {
		&__breadcrumbs {
			padding-left: 42px;
		}
		&__title {
			padding-left: 42px;
			&:after {
				display: none;
			}			
		} 

	}
	.homes-list {
		.home-block {
		    flex-basis: calc(100% / 2);
		    max-width: 454px;		
		}
		.brown_button {
		    margin-top: auto;
		    max-width: 100%;
		}				
	}
	.page-bottom-desc {

		&__text {
			width: 738px;
		}
		&__image {
			width: 786px;
		}
	}
	.genplan__conventions-icons-wrapper {
		display: none;
	}
	.genplan__bg {
		background-position: calc(50% - 145.1px) calc(50% - 5px);
	}
	.discont-section {
		&__price-row {
			font-size: 4.375rem;
		}
	}
	.prices-section__table-wrap {
		width: 900px;
	    padding-right: 43px;
	}
	.prices-section__table-filter {
		margin-right: -43px;
	}	
	.about-first-text-block {
	    min-height: 586px;
		.page-bottom-desc__text {
		    padding: 49px;
		}	
	}
	.about-second-text-block {
		.page-bottom-desc__text {
		    padding: 49px;
		    width: 72%;
		}			
		.page-bottom-desc__image {
			top: -112px;
		}		
	}
	.big-title:before {
		display: none;
	}
	.about-map {
	    margin-top: -103px;
	}	
	.about-third-text-block {
	    min-height: 808px;

	}
	.about-third-text-block .page-bottom-desc__text {
	    width: 80%;
	    padding: 49px;
	    padding-bottom: 0;
	    .about-icons {
	    	flex-wrap: wrap;
	    	justify-content: center;
	    }
	    .text-content {
	    	margin-bottom: 46px;
	    }
	        
	    .about-icons__item {
	    	flex-basis: 25%;
	    	// max-width: 150px;
    	    margin-bottom: 59px;
	    }
	}	
	.about-last-text-block {
		min-height: 793px;
		.page-bottom-desc__text {
		    width: 81%;
		}		
		.page-bottom-desc__image {
			top: 54px;
		}
	}
	
	.news-filter {
		.col {
			font-size: 16px;
		}
	}
	.inner-new {
		&__text {
			max-width: 616px;
		}
	}
	.carousel__item {
		height: 132px;
		width: 132px;
	}
	.carousel .slick-prev, .carousel .slick-next {
		bottom: 52px;
	}
	.contact-page .image-section__wrapper {
    	padding: 82px 0 188px;
	}
	.form-section {
		.callback--contact {
			width: 100%;
			max-width: 822px;
			padding-right: 52px;
			padding-bottom: 40px;
			padding-left: 52px;
			textarea {
				height: 205px;
			}
			&__form-wrap-input {
				flex-direction: column;
			}
		}
		&__bottom-img {
			width: 100%;
			max-width: 654px;
		}

	}

}
@media (max-width: 768px) and (min-width: 360px) {
	.image-section {
		&__wrapper {
		    padding: 66px 0 74px;			
		}
		&__item {

			&__name {
				font-size: 3.75rem;
				margin-bottom: 0;
			}
			&__desc {
				font-size: 1rem;
			}
			span {
				font-size: 1.875rem;
			}
		}
	}
	.png-sprite {
		&__258, &__11, &__4, &__67 {
			width: 156px;
			height: 99px;
			background-size: cover;
		}
		&__258 {
			background-position: 0px -207px;			
		}
		&__11 {
		    background-position: 0px -306px;			
		}
		&__4 {
		    background-position: -0px -100px
		}
	}	


}
@media (max-width: 768px) {
	.main-wrapper {
		width: 768px;
	}		
	.container {
		width: 720px;
	}
	.header {
		&__logo {
		    height: auto;
		    padding: 11px 0;
		    display: flex;
		    margin-bottom: auto;
		    margin-top: 24px;	
	        align-items: baseline;
	        padding-right: 25px;		
            max-width: 85px;
		    .icon {
		    	margin-bottom: 0;
		    }
			p {
				display: none;
			}
		}
		&__content {
			padding-left: 25px;
		}
		&__desc__title {
		    margin: 0 8px;
			font-size: 1.375rem;
		}
		&__nav {
		    position: absolute;
		    left: 0;
		    right: 0;			
		}
		&__top {
		    height: 83px;			
		}
		&__user-cabinet {
			margin-left: 0;
		}
	}
	.main-slider {
		&__item {
			&__desc {
				width: 100%;
				h2 {
					font-size: 2.75rem;
				}
			}
		}
	}
	.news-section {
		height: 385px;
		&__wrapper {
		    padding-top: 82px;
		    height: 385px;			
		}
		&__background-text {
			font-size: 123.7px;
		}
		&__image {
			display: none;
		}
	}	
	.news-item {
	    height: 272px;
	}

	.main-page-text-section {
		&:after {
			display: none;
		}
		&__wrapper {
			border-top: 2px solid $brownColor;
			flex-direction: row;
			flex-wrap: wrap;
		}
		&__left-side {
			flex-basis: 100%;
			position: relative;
			padding-right: 0;
		    margin-bottom: 67px;
		}
		&__right-side {
			max-width: 100%;
			width: 100%;
			height: auto;
			flex-basis: 100%;
			padding-left: 0;
		    margin-bottom: 25px;
			&:after {
				right: -100px;
				left: -100px;
			}
		}
		.italic-text {
		    padding-top: 37px;			
	        margin-bottom: 0;
		}
		.png-sprite__olen {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: -1;
		}
	}

	.top-image {
		padding-bottom: 47px;
		&__breadcrumbs {
			padding-left: 24px;
		}
		&__title {
			font-size: 3.25rem;
			padding-left: 24px;
			line-height: 3.75rem;
		} 

	}
	.top-page-sect {
	    margin-bottom: 50px;
        padding-bottom: 45px;
	}
	.homes-list {		
		&__wrapper {
		    padding-bottom: 20px;
		}
		.home-block {
		    max-width: 345px;		
		}		

	}
	.page-bottom-desc {
		min-height: 100%;
		margin-top: 0;
		margin-bottom: 82px;
		&__text {
			width: 100%;
			padding: 66px 24px 76px 24px;
			position: static;
		}
		&__image {
			display: none;
		}
	}	
	.big-title {
		&:before {
			display: none;
		}
	}
	.genplan__bg {
		background-position: calc(50% - 34.1px) calc(50% - 5px);		
	}
	#pg {
		left: -77px;
	}
	.genplan__conventions-rules p {
		white-space: nowrap;
	}
	.genplan__conventions {
		width: 258px;
		margin-top: 165px;
	    margin-right: -17px;
	}
	.genplan__title {
		font-size: 3rem;
		letter-spacing: 0.5rem;
	    left: -479px;
	    top: -122px;		
	}
	.discont-section__title p {
		line-height: 1.875rem;
	}
	.discont-section__price-row p {
		font-size: 3.5rem;
		line-height: 1.5rem;
	}
	.genplan__conventions-desc-link {
		line-height: 22px;
	}
	.prices-section__table-wrap {
		width: 100%;
		padding-right: 0;
		&:after {
			left: -50px;
			right: -50px;
		}
	}
	.prices-section__back-image {
		display: none;
	}
	.genplan-description-section__back-image {
		display: none;
	}
	.genplan-description-section__text {
		margin-top: 0;
		&:after {
			left: -40px;
		}
	}

	.top-page-sect {
		display: flex;
		justify-content: center;
		p {
			line-height: 35px;
			max-width: 500px;
		}
	}
	.page-bottom-desc {
		min-height: auto;
		width: 100%;
		padding: 0 !important;
		margin: 0 !important;
		.big-title {
		    margin-top: 55px;
		}
		&__text {
			width: 100% !important;
			padding: 0 24px !important;
			box-sizing: border-box;
			margin: 0 !important;			
			p {
				width: 100% !important;
				max-width: 100% !important;	
				margin-bottom: 55px;
			}
		} 
		&__image {
			display: none !important;
		}
	}
	.about-last-text-block .about-icons {
		max-width: 100%;
		margin-bottom: 30px;
	}
	.about-map {
	    height: 479px;
	}
	.inner-new {
		&__text {
			max-width: 100%;
			padding-bottom: 138px;
		}
		&__btn {
			top: auto;
			bottom: 50px;
			width: auto;
		    flex-direction: row;
		    width: 200px;
		    justify-content: space-between;
		    align-items: center;			
			span {
				width: 52px;
				margin-bottom: 0;
				height: 52px;
			}
			&.next {
			    span {
			    	order: 1;
			    }
			}
		}
	}
	.carousel__item {
		height: 158px;
	}	
	.carousel .slick-prev, .carousel .slick-next {
	    bottom: 41px;
	}
	.info-section {
		&__wrapper {
			display: flex;
			flex-direction: column;
		}
		.callback--home {
			position: static;
			order: 3;
			position: relative;
			height: 195px;
			width: 100%;
			flex-direction: row;
			padding-top: 87px;
			margin-top: 72px;
			box-sizing: content-box;			
		    width: 94%;
		    input:first-of-type, #phone {
				width: 47%;

		    }
			&__top {
				position: absolute;
				top: 22px;
			    align-items: left;
				left: 22px;
			}
			form {
				flex-direction: column;
				width: 100%;
				flex-wrap: wrap;
			}
			.agree {
				width: 47%;
				order: 0;

			}
			button {
			    align-self: flex-end;
			    width: 50%;
			    order: 1;
			}			
			&__comment-input {
			    margin-bottom: 17px;
			    width: 50%;
			    align-self: flex-end;
			    order: 1;
			}			
		}
		&__back-link {
			order: 4;
		}
	}		
	.gallery-block {
		flex-direction: row;
		flex-wrap: wrap;
		&__top {
			flex-basis: 100%;
		}
		&__images {
			height: 100%;
			width: 100%;
			margin-left: 0;
			flex-wrap: wrap;
			margin-right: 0;
		    margin-bottom: 20px;
		}		
		&__big-image {
			flex-basis: 100%;
			margin: 0;
			height: 417px;
			margin-bottom: 30px;
		}
		&__little-images-wrap {
		    margin-right: -26px;
		    flex-basis: 100%;
			flex-direction: row;
			.single-img {
				height: 250px;
			}

		}
	}
	.gallery-block--four {
		.gallery-block__big-image {
			flex-basis: 100%;
		}
		.gallery-block__images {
		}
		.gallery-block__little-images-wrap {
				margin: 0;
				margin-left: -26px;			

				

		}
	}	
	
	.gallery-inner__image {
		flex-basis: calc(50% - 30px);
	}

	.contact-page {
		.image-section__wrapper {
			flex-wrap: wrap;
			justify-content: center;
			padding-bottom: 162px;
			.image-section__item {
				display: flex;
				flex-basis: 50%;
				justify-content: center;
			    margin-bottom: 23px;
				.icon {
					width: 43px;
				}
			}
			.image-section__item__text {
				text-align: left;
			    width: 190px;
			    margin: 0;
			    margin-left: 30px;				
			}
		}
	}
	.form-section {
		.callback--contact {
			padding-left: 24px;
			padding-right: 24px;
			.callback--home__comment-input {
				width: 98%;
			}
			textarea {
			}
			&__form-wrap-input {
			}
		}
		&__bottom-img {
			width: 100%;
			max-width: 654px;
			display: none;
		}


	}	

}


@media (max-width: 320px) {
	.main-wrapper {
		width: 320px;
	}
	.container {
		width: 290px;
	}
	.header {
		height: 80px;
		&__content {
			display: none;
		}
		&__logo {
			margin: 0;
			padding: 0;
			border: none;
			.icon {
			    width: 45px;
			    height: 39px;				
			}
		}
		&__mobile-menu {
			display: flex;
			nav {
				will-change: transform;
				transform: translateX(320px);
				transition: 0.3s all;
				&.open {
					transform: translateX(0);
				}
			}
			p {
				margin-right: 10px;
				text-transform: uppercase;
				letter-spacing: 0.1325rem;
				font-size: 18px;
				color: $accentFontColor;
			}
		}
	}
	.main-slider {
		height: 360px;
		&__item__desc {
			margin-top: 80px;
			padding-left: 16px;
			padding-right: 16px;
				h2 {
					font-size: 1.625rem;
					line-height: 1.875rem;
					margin-bottom: 13px;
				}
				p {
					font-size: 16px;
				}
		}
		&__item__separator {
			width: 128px;
		}
		&__item__more-link {
			font-size: 16px;
		}
	}
	.news-section {
		height: auto;
		&__wrapper {
			flex-direction: column;
			padding-top: 65px;
			height: auto;
		}
		&__background-text {
			position: static;
			letter-spacing: 5.76px;
			font-size: 48px;
			color: $fontColor;
			margin-bottom: 37px;
		}

	}
	.news-item {
		height: auto;
		&__text {
			max-height: 100%;
		}
		&__read-more {
		    margin: 21px 0 41px;
		    &:last-of-type {
		    	margin-bottom: 15px;
		    }				
		}
	}	
	.image-section {
		max-height: 100%;
		&__wrapper {
			flex-direction: column;
			padding-top: 56px;
			padding-bottom: 0;
		}
		&__item {
			margin-bottom: 56px;
		}

	}
	.italic-text {
		font-size: 1.5rem;
		line-height: 2.375rem;
	}
	.main-page-text-section {
		&__left-side {
			margin-bottom: 16px;
		}
		&__right-side {
			padding-top: 31px;			
		}
		.png-sprite__olen {
			position: static;
		}
		.big-title {
			margin-bottom: 23px;
		}
	}
	.big-title {
		font-size: 2rem;
		letter-spacing: 0.25rem;
		&:before {
			display: none;
		}
	}
	.footer {
		&__wrapper {
		    flex-direction: column;
		    height: auto;
		    align-items: flex-start;			
		    padding-top: 20px;
		}
		&__left-column {
			margin-bottom: 20px;
		}
		&__right-column {
			margin-bottom: 30px;
		}
		&__center-column {
			text-align: left;
			margin-bottom: 20px;
		}
	}
	.h1-title {
		font-size: 1.625rem;
		line-height: 1.875rem;
	}	
	.top-image {
		height: 360px;
		padding-bottom: 34px;
		__breadcrumbs {
			padding-left: 14px;
		}
		&__title {
			padding-left: 14px;
		}
	}
	.top-page-sect {
		margin-top: 54px;
		p {
			font-size: 1.125rem;
			line-height: 1.875rem;
		}
	}
	.homes-list {

		&__item {
			width: 100%;
		}	
		&__bottom-sect {
			&:after {
				display: none;
			}			
		}
		&__wrapper {
			padding-bottom: 0;
		}	

	}

	.page-bottom-desc {
		&__text {
		    padding: 47px 24px 66px 24px;				
		}
	}	

	.home-block {
		.right_column {
			text-align: right;
		}
	}

	.big-title {
	    margin-bottom: 46px;			
	}	
	.footer__center-column {
		width: 100%;
	}	
	.discont-section__title p {
	    font-size: 18px;
	    line-height: 30px;
	}
	.discont-section__title {
	    margin-bottom: 39px;
	}
	.discont-section__price-row p, .small-price-text {
	    font-size: 20px;
	    line-height: 32px;
	}
	.discont-section__price-row .under-price-desc {
		font-size: 16px;
	}	
	.discont-section__price-row {
		flex-direction: column;
		padding-bottom: 30px;
		.separator {
			display: none;
		} 
		.under-price-desc {
			position: static;
			width: 100%;
		}
		p {
			display: flex;
			flex-wrap: wrap;			
		}
	}
	.discont-section__wrapper {
		padding-bottom: 264px;
	}
	.prices-section__table-desc {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 25px;
	}
	.prices-section__table-wrap {
		padding-top: 50px;
	}
	.prices-section__table-filter {
	    margin-right: 0;
	    flex-direction: column;
	    padding-top: 60px;
		padding-bottom: 33px;
		margin-bottom: 10px;
		&:after {
			left: -50px;
			right: -50px;
		}	    
	}
	.prices-section .row {
		position: relative;
		margin-bottom: 52px;
		margin-left: -7px;
		input {
			min-width: 100px;
		}
		.control {
			position: static;
		}
	}	
	.prices-section .row label {
	    width: 78px;
	    position: absolute;
	    top: -30px;	
	    left: 7px;
	}
	.right-column {
	    margin-top: -21px;
	    .row {
	    	margin-left: 0;
    	    margin-bottom: 13px;

	    }
	}
	.prices-section .row .control_indicator {
		margin-right: 17px;
	}
	.prices-section__table {
		margin: 0 -15px;
	}
	table {
		font-size: 13px;
		min-width: 100%;
		#note, th:last-of-type, tr td:nth-child(5), tr td:nth-child(6) {
			display: none;
		}
		#area {
			width: 69px;
		}
		#item-price {
			width: 52px;
		}
		#all-price {
			width: 44px;
		}
		#number {
			width: 34px;
		}

	}
	.genplan-description-section__text {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	    margin-bottom: 0;
	    padding-bottom: 33px;		
		&:after {
			left: -50px;
			right: -50px;
		}
		.big-title {
		    margin-bottom: 38px;
		}		
	}	
	.genplan {
		margin-top: 77px;
		background-image: none;
	}
	.genplan__mobile-link {
		display: flex;
	}
	#pg, .genplan__bg, .genplan__conventions  {
		display: none;
	}

	.about-top-section .top-page-sect {
	    margin-bottom: 35px;
	    padding: 0px 0 35px;
	    margin: 35px 0;
	}
	.image-section__item__name {
		font-size: 55px;
		span {
			font-size: 25px;
		}
	}	
	.image-section__item__desc {
		font-size: 16px;
	}
	.image-section__item__text {
		position: static;
	}
	.image-section__wrapper {
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0;
	}
	.image-section__item {
		flex-basis: 50%;
		&:nth-child(3) {
			margin-bottom: 48px;
		}
		&:nth-child(4) {
			margin-bottom: 48px;
		}		
	}
	.about-top-section {
		padding: 0;
	}
	.page-bottom-desc {
	    .big-title {
	    	margin: 42px 0;
	    	font-size: 28px;
	    	line-height: 35px;
	    }
	    p {
	    	margin-bottom: 39px;
	    }
	    &__text {
	    	padding: 0 15px !important;
	 
	    }
	    .about-icons__item {
	    	flex-basis: calc(50% - 40px) !important;
	    	margin-left: 10px;
	    	margin-right: 10px;
	    }
	}
	.news-page-item {
		padding: 45px 0 35px;
		&__img {
			display: none;
		}
		&__right-side {
			padding-left: 0;
		}
	}
	.news-breadcrumbs {
		padding-bottom: 81px;
		&__next-page {
			top: 77px;
			right: 36px;
		}
	}

	.news-filter {
		.row {
			padding: 0;
			flex-direction: column;
			z-index: 1;
			&>.col {
				width: 100%;
			}
			.col {
				font-size: 22px;
				padding: 60px 0 30px;		
			}
			&:before {
				content: '';
				position: absolute;
				right: 0;
				top: 63px;
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 15px solid $brownColor;				
				z-index: -1;
			}	
		}
		.wrap {
			max-height: 0;
			overflow: hidden;
			will-change: transform;
			transition: .4s max-height;
		    justify-content: flex-start;
		    flex-direction: column;			
			&.open {
				max-height: 400px;
			}
		}
	}
	.inner-new {
		&__text {
			padding-bottom: 211px;
		}
		&__image {
			height: 176px;
			margin-top: 25px;
		}
		&__btn {
			bottom: 70px;
			width: 77px;
		    flex-direction: column;
		    justify-content: flex-start;
		    align-items: center;			
		    span {
		    	margin-bottom: 20px;
		    }
			&.next {
			    span {
			    	order: 0;
			    }
			}
		}
	}	
	.top-image__breadcrumbs {
	    padding-left: 15px;
	}	
	.carousel__item {
		height: 130px;
	}	
	.carousel .slick-prev, .carousel .slick-next {
	    bottom: 41px;
	}
	.middle-title {
		line-height: 40px;
		margin-bottom: 20px;
	}	
	.info-section {
		padding-top: 39px;
	}
	.info-section__desc, .info-section__equipmentm, .info-section__common-info {
	    margin-bottom: 31px;
	}	
	.callback--home {
		display: none;
	}
	.info-section__back-link {
		margin: 60px 0;
	}

	.gallery-block {
		&--reverse {
			.gallery-block__little-images-wrap {
				margin-bottom: 30px;
			}
		}
		&__top {
			flex-direction: column;
			align-items: flex-start;

		}
		&__name {
			font-size: 26px;
		}
		&__link {
			position: static;
		}		

		&__images {
		}		
		&__big-image {
			height: 210px;
		}
		&__little-images-wrap {
			flex-direction: column;
			.single-img {
				height: 210px;
			}

		}
	}
	.gallery-block--four {
		.gallery-block__images {
			margin-bottom: 0;
		}
		.gallery-block__little-images-wrap {
				
				flex-direction: row;
			.single-img {
				flex-basis: 100%;
			}				
		}


	}	
	.gallery-inner__image {
		flex-basis: calc(100% - 30px);
	}		
	.gallery-inner__wrapper {
	    padding: 65px 0;
	}


	.contact-page {
		.image-section__wrapper {
			flex-direction: column;
			padding-top: 39px;
			padding-bottom: 39px;
			.image-section__item {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.icon {
				}
			}
			.image-section__item__text {
				text-align: center;
				margin: 0;
				width: auto;
			}
		}
	}
	.form-section {
		.callback--contact {
			margin: 0;
			padding: 38px 15px;
			position: relative;
			&__desc {
				 margin-bottom: 42px;

			}
			.agree {
				position: absolute;
				bottom: 90px;
			}
			form {
				flex-direction: column;
			}
			&__form-right-col {
				margin: 0;
				width: 100%;
			}
			&__form-left-col {
				margin: 0;
				width: 100%;
			}
			button {
			    margin-top: 80px;
			}
			.callback--home__comment-input {
			}
			textarea {
				height: 100px;
			}
			&__form-wrap-input {
			}
		}



	}		

}