.genplan {
	margin-top: 175px;
	position: relative;
	overflow: hidden;
	background-image: url('../img/bg_fill.png');
	&__mobile-link {
		min-height: 313px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		z-index: 1;
		position: relative;
		display: none;
		background-color: $backgroundColor;
		margin-top: 1px;
		&:after {
			content: '';
			width: 319px;
			height: 282px;
			background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
			opacity: 0.6;				
			position: absolute;
			top: 0;
			right: 0;
		}		
		&-title {
			z-index: 2;
			font-family: $accentFont;
			font-weight: bold;
			font-size: 28px;
			line-height: 35px;
			color: #fff;
			margin-left: 15px;
			margin-bottom: 20px;
		}
		&-btn {
			font-size: 13px;
			background-color: #fff;
		    display: flex;
		    align-items: center;
		    justify-content: center;			
			&-wrap {
				background-color: #fff;
				box-sizing: border-box;
				z-index: 2;
				padding: 10px;
				width: auto;
				margin: 0 15px;
			}
		}
		img {
			position: absolute;
			z-index: -1;
			left: 0;
			top: 0;
			width: 320px;
			height: 282px;

		}

	}
	&__wrapper {
		position: relative;
	}
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
	    background-image: url(../img/Genplan.jpg);
		background-size: 2400px;
		background-position: calc(50% - 246px) calc(50% - 5px);

	    background-repeat: no-repeat;				
	}
	&__title {
		text-transform: uppercase;
		font-size: 64px;
		font-weight: bold;
		letter-spacing: 10.67px;
		font-family: $accentFont;
		color: #fff;
		position: absolute;
		left: 0;
		top: -126px;
	}
	&__conventions {

		z-index: 40;
		position: absolute;
		right: 0;
		box-sizing: border-box;
		padding: 25px 30px 30px;
		width: 400px;
		margin-top: 190px;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: -40vw;
			z-index: -1;
			box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
			background-color: #fff;
		}
		&-title {
			font-size: 2rem;
			line-height: 2rem;
			font-weight: bold;
			font-family: $accentFont;
			width: 300px;
			margin-bottom: 32px;
		}
		&-rules {
			position: relative;
			margin-bottom: 27px;
			p {
				padding-bottom: 16px;
				display: block;
				&:last-of-type {
					padding-bottom: 25px;
				}
				&:before {
					content: '';
					position: relative;
					top: 5px;
					margin-right: 8px;
					display: inline-block;
					width: 20px;
					height: 20px;
					border-radius: 50px;
				}

			}
			.rule_1:before{background-color: $blueColor;}
			.rule_2:before{background-color: #c4b999;}
			.rule_3:before{background-color: #7bb83b;}
			.rule_4:before{background-color: #a5cad9;}
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: -40vw;
				border-top: 1px solid #979797;
				opacity: 0.28;					
			}			
		}
		&-icons-wrapper {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 15px;
			min-width: 403px;
		}
		&-icons-item {
			flex-basis: 50%;
			display: flex;
		    align-items: center;
			p {
				font-size: 12px;
			}
			.icon-g {
				margin-right: 15px;
			}
		}
		&-desc-link {
			font-size: 14px;
			line-height: 33px;
			letter-spacing: 2.33px;
		}
	}
}

#pg {
	margin-top: -60px;
	left: -78px;
}
.fancybox-content {
    max-width: calc(100% - 30px) !important;
}
.frame {
	margin-top: 0 !important;
	width: 760px;
	.genplan__bg {
		background-position: calc(50% - 55.2px) calc(50% - 5px);
	}
	#pg, .genplan__bg, .container {
		display: block !important;
		width: 760px !important;
	}
}
.filter-drop-btn {
	color: $blueColor;
	text-decoration: underline;
	position: relative;
	margin-left: 30px;
	cursor: pointer;
	&:hover {
		color: $blueColorHover;
	}
	&:before {
		color: $fontColor;
		text-decoration: none;
		content: '|';
		position: absolute;
		bottom: 0;
		left: -17px;
	}
}