.genplan-description-section {
	overflow: hidden;
	position: relative;
	// margin-top: -1px;
	// background-color: #fff;
	// z-index: 1;
	&__wrapper {
		display: flex;
		justify-content: flex-end;
	}
	&__text {
		width: 833px;
		box-sizing: border-box;
		position: relative;
		z-index: 1;
		padding: 68px;
		margin: 68px 0;
		&:after {
			content: '';
			@extend %abs-pos;
			box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
			background-color: #fff;
			z-index: -1;
			right: -40vw;
		}
	}
	&__back-image {
		width: 50%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		img {
			@extend %img;
		}		
	}
}